name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            toolchain: stable
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            toolchain: nightly
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            toolchain: stable
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            toolchain: nightly
          - os: windows-latest
            target: i686-pc-windows-msvc
            toolchain: stable
          - os: windows-latest
            target: i686-pc-windows-msvc
            toolchain: nightly
          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: stable
          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: nightly

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}

      - name: Build
        shell: pwsh
        run: |
          if ($env:MATRIX_TOOLCHAIN -eq "stable") {
              cargo build --target $env:MATRIX_TARGET --no-default-features
          } else {
              cargo build --target $env:MATRIX_TARGET --all-features
          }

      - name: Test
        shell: pwsh
        run: |
          if ($env:MATRIX_TOOLCHAIN -eq "stable") {
              cargo test --target $env:MATRIX_TARGET --no-default-features
          } else {
              cargo test --target $env:MATRIX_TARGET --all-features
          }
      
  documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@stable
      with:
          toolchain: nightly
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: nightly
            components: clippy
            
      - name: Clippy check
        run: cargo clippy --all-features
          
  fmt:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@stable
      with:
          toolchain: nightly
          components: rustfmt
          
    - name: Format check
      run: cargo fmt --all -- --check
