name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            toolchain: stable
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            toolchain: nightly
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            toolchain: stable
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            toolchain: nightly
          - os: windows-latest
            target: i686-pc-windows-msvc
            toolchain: stable
          - os: windows-latest
            target: i686-pc-windows-msvc
            toolchain: nightly
          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: stable
          - os: macos-latest
            target: aarch64-apple-darwin
            toolchain: nightly

    steps:
      - uses: actions/checkout@v4

      - name: Install latest ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}
      
      - name: Build
        run: cargo build --target "${{ matrix.target }}"
        
      - name: Test
        run: cargo test --target "${{ matrix.target }}"
      
  documentation:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [nightly, stable]
    steps:
    - uses: actions/checkout@v4
    - name: Install latest ${{ matrix.toolchain }}
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [nightly, stable]
    steps:
      - uses: actions/checkout@v4
      - name: Install latest ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@master
        with:
            toolchain: ${{ matrix.toolchain }}
            components: clippy
            
      - name: Clippy check
        run: cargo clippy --all-features
          
  fmt:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [nightly, stable]
    steps:
    - uses: actions/checkout@v4
    - name: Install latest ${{ matrix.toolchain }}
      uses: dtolnay/rust-toolchain@master
      with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt
          
    - name: Format check
      run: cargo fmt --all -- --check
