name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  RUSTDOCFLAGS: "--deny warnings"
  RUSTFLAGS: "--deny warnings"

jobs:
  test:
    runs-on: ${{ 
      matrix.target == 'x86_64-unknown-linux-gnu' && 'ubuntu-latest' || 
      matrix.target == 'x86_64-pc-windows-msvc' && 'windows-latest' || 
      matrix.target == 'i686-pc-windows-msvc' && 'windows-latest' || 
      matrix.target == 'aarch64-apple-darwin' && 'macos-latest'
    }}
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable, nightly]
        target: 
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-msvc
          - i686-pc-windows-msvc
          - aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}

      - name: Build
        run: |
          if [ "${{ matrix.toolchain }}" = "stable" ]; then
            cargo build --target ${{ matrix.target }} --no-default-features
          else
            cargo build --target ${{ matrix.target }} --all-features
          fi

      - name: Test
        run: |
          if [ "${{ matrix.toolchain }}" = "stable" ]; then
            cargo test --target ${{ matrix.target }} --no-default-features
          else
            cargo test --target ${{ matrix.target }} --all-features
          fi
      
  documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@stable
      with:
          toolchain: nightly
    - name: Generate documentation
      run: cargo doc --all-features
    - name: Install cargo-deadlinks
      run: cargo install cargo-deadlinks
    - name: Check dead links in doc
      run: cargo deadlinks

  clippy:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
      - uses: actions/checkout@v4
      - name: Install latest nightly
        uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: nightly
            components: clippy
            
      - name: Clippy check
        run: cargo clippy --all-features
          
  fmt:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        include:
          - os: ubuntu
          - os: windows
    steps:
    - uses: actions/checkout@v4
    - name: Install latest nightly
      uses: dtolnay/rust-toolchain@stable
      with:
          toolchain: nightly
          components: rustfmt
          
    - name: Format check
      run: cargo fmt --all -- --check
